<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">-
        <encoder>
            <pattern>%d [%-5level] [%thread] %logger{5} - [%X{consumerId}, %X{callId}, %X{userId}] - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    
</configuration>
