<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="no">
<wicket:panel>
    <footer class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="#" wicket:id="kontakt"> [1]</a></li>
                <li><a href="#" wicket:id="personvern"> [2]</a></li>
                <li><a href="#" wicket:id="feil"> [3]</a></li>
                <li><a href="#" wicket:id="tilgjengelighet"> [4]</a></li>
                <li><a href="#" wicket:id="nyheter"> [5]</a></li>
                <li><a href="#" wicket:id="nettstedskart"> [6]</a></li>
            </ul>
        </div>
    </footer>
</wicket:panel>
</html>