<?xml version="1.0" encoding="UTF-8"?>
<included>
    <include resource="logback-abac.xml"/>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <property name="loggingPattern"
              value="%d [%-5level] [%thread] %logger{5} %replace(- [%X{consumerId}, %X{callId}, %X{userId}] ){'- \[, , \] ',''}- %m%n"/>

    <!--
    Bruker SiftingAppender siden samme logback.xml kan gjelde for flere applikasjoner deployet på samme applikasjonsserver.
    Dermed kan contextName settes for å unngå at flere applikasjoner forsøker å logge til og rotere samme logfil
    -->
    <appender name="file" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="no.nav.apiapp.log.ContextDiscriminator"/>
        <sift>
            <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${APP_LOG_HOME}/${contextName}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${APP_LOG_HOME}/${contextName}-%d.log.%i.gz</fileNamePattern>
                    <maxFileSize>30MB</maxFileSize>
                    <maxHistory>90</maxHistory>
                    <!-- default 100 MB, da en basic server har svært lite plass til logger. Særlig når flere apper deployes på den samme serveren -->
                    <!-- aksesslogger og sensulogger tar også potensielt opp stor plass, ref ATOM-2749 -->
                    <totalSizeCap>${logback.totalSizeCap:-100MB}</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>${loggingPattern}</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="syslog" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>LOCAL1</facility>
        <throwableExcluded>true</throwableExcluded>
        <suffixPattern>${application.name} %mdc %logger{30} %m %n%rEx</suffixPattern>
    </appender>

    <appender name="async-file" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="file"/>
    </appender>

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <if condition='isNull("jboss.server.name")'>
            <then>
                <!-- nais+local -->
                <appender-ref ref="stdout_json"/>
            </then>

            <else>
                <!-- jboss/skya -->
                <appender-ref ref="async-file"/>
                <appender-ref ref="syslog"/>
            </else>
        </if>
    </root>

    <logger name="org.apache" level="INFO"/>
    <logger name="org.apache.cxf" level="ERROR"/>
    <logger name="no.nav.sbl.dialogarena.common.cxf" level="ERROR"/>
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR"/>
    <logger name="org.apache.wss4j.common.crypto.CryptoBase" level="ERROR"/>
    <logger name="no.nav.modig.content.ValuesFromContentWithResourceBundleFallback" level="ERROR"/>
    <logger name="org.apache.wicket.protocol.http.RequestLogger" level="WARN"/>

</included>