.innlogget.innstillinger .navbar-inner {
	background-color: #C30000;
	background-image: none;
	border-color: transparent;
}

.innlogget.innstillinger .navbar-inner a {
	color: white;
}

.skriftstorrelse .smaller {
	font-size: 8pt;
}

.skriftstorrelse .bigger {
	font-size: 14pt;
}

.skriftstorrelse .tooltip {
	font-size: 22pt;
}

