.oppfordring {
	position: relative;
	float: none;
	margin: auto; background : #B7B1A9;
	color: white;
	text-align: center;
	padding: 20px;
	z-index: 1000;
	background: #B7B1A9;
	cursor: pointer;
}

.close {
	position: absolute;
	right: 5px;
	top: 5px;
	display: none;
}

.success .close {
	display: inline;
}

.unsuccess .close {
	display: inline;
}

.success .oppfordring {
	background-color: green;
}

.unsuccess .oppfordring {
	background-color: red;
}

.container-tilbakemelding {
	margin: 48px auto 50px;
}

.oppfordring h1 {
	font-size: 17px;
	text-transform: uppercase;
}

h1,h2 {
	font-family: Modus, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	line-height: 1.2em;
}

.nav-collapse.collapse {
	text-align: center;
	height: 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

.expanded {
	background-color: #222222;
	text-align: center;
	color: white;
	padding: 20px;
	padding-top: 80px;
	z-index: -1;
	margin-top: -50px;
	display: none;
}

.expanded h1 {
	font-size: 20px;
}

.expanded a {
	color: #DDD;
}

.expanded a:hover {
	text-decoration: none;
}

.expanded textarea {
	width: 400px;
	height: 200px;
	resize: none;
}

/* Footer-ting */
[class*="footer"] .navbar-inner ul.fotlenker {
	display: inline-block;
	margin: 0 auto;
}

[class*="footer"] .navbar-inner ul.fotlenker li {
	float: left;
	list-style-type: none;
}

[class*="footer"] .navbar-inner ul.fotlenker li a {
	color: #DDD;
}

.navbar-fixed-bottom .container {
	text-align: center;
}

[class*="footer"] .navbar-inner ul.fotlenker li:first-child a::before {
	content: '';
}

[class*="footer"] .navbar-inner ul.fotlenker li a::before {
	content: '\2022 ';
	color: #999;
	padding: 10px;
}

[class*="footer"] .navbar-inner p.name {
	margin: 30px auto 20px;
	color: #999;
	position: relative;
	text-align: center;
	width: 30px;
	padding-bottom: 8px;
}

.under {
	background-image: url(/img/under-dark.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-bottom: 12px;
	margin-bottom: 12px !important;
}

[class*="footer"] .navbar-inner {
	padding-bottom: 20px;
}

[class*="footer"] .navbar-inner p.copy {
	color: #999;
	margin-top: 10px;
}