.idea
*.iml
*.ipr
*.iws

**/node_modules/

*.log

target

**/webapp/css/**/*
**/webapp/img/**/*
**/webapp/build/**/*
**/webapp/js/**/*
**/webapp/*.html
**/npm-debug.log

npm-debug.log

.classpath
.project
.settings
