<html xmlns:wicket="http://wicket.apache.org" lang="no">
<wicket:panel>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<ul class="nav">
				<script>
				$(function() {
					$('#skriftstorrelse').attr('title', $('#skriftstorrelse_content').text());
				});
				</script>
				<li><a href="#" wicket:id="skriftstorrelse" id="skriftstorrelse" rel="tooltip" title="">[]</a></li>
				<script>
				$(function() {
					$('#skriftstorrelse').tooltip({trigger: 'click', placement: 'bottom', html: 'true'})
				});
				</script>
				<li><a href="#" wicket:id="hoykontrast">[]</a></li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="#"><em>Logg inn p&aring; Ditt Nav</em></a></li>
			</ul>
		</div>
		<div wicket:id="skriftstorrelse_content" id="skriftstorrelse_content" hidden="true">[]</div>
	</div>
</wicket:panel>
</html>