<?xml version="1.0" encoding="UTF-8"?>
<included scan="true" scanPeriod="30 seconds">
    <property name="THIS_LIBRARY" value="abac"/>

    <property name="loggingPattern"
              value="%d [%-5level] [%thread] %logger{5} %replace(- [%X{consumerId}, %X{callId}] ){'- \[, , \] ',''}- %m%n"/>

    <appender name="AuditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{ISO8601} ${applicationName} %level %mdc %m%n%rEx</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
            <host>audit.nais</host>
            <port>6514</port>
            <ident>${applicationName}</ident>
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

</included>